footer{
    width: 100%;
    height: 14rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footer-links,
.footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.footer-links {
    text-align: center;
} 
.footer-socials img {
    height: 1.6rem;
}
@media (min-width: 600px){
  .attendquiz-popup h2{
    background-color: #233975;
    color: white;
    padding: 10px;
    min-width: 30%;
    text-align: center;
    border-radius: 0 0 10px 10px;
}   
}
@media (min-width: 900px) {
    footer {
      height: 10rem;
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-socials {
      order: 2;
    }
    .footer-socials img {
      height: 1.8rem;
    }
    .attendquiz-popup h2{
      background-color: #233975;
      color: white;
      padding: 10px;
      min-width: 30%;
      text-align: center;
      border-radius: 0 0 10px 10px;
  }   
}
p.username{
  background-color: rgb(226, 218, 208);
  color: black;
  font-weight: bold;
  padding: 15px;
  font-size: 1.6rem;
  cursor: text;
}
*{
  user-select: none;
}
.attendquiz-popup h2{
    background-color: #233975;
    color: white;
    padding: 10px;
    min-width: 70%;
    text-align: center;
    border-radius: 0 0 10px 10px;
} 