tr:nth-child(odd){
    background-color: #dddddd;
    }
table{
    border: 1px solid black;
    margin: auto;
    /* width: 50% !important;
    overflow-x: auto; */
    /* border-collapse: collapse; */
    }
table caption{
    font-weight: bold;
    padding: 10px;
    font-size: large;
    }
table tr td, table tr th{
    font-size: 1em;
    padding: 5px;
    text-align: center;
    /* margin: 0px 1px; */
    /* border: 5px solid black; */
    /* border-collapse: collapse; */
    }
table tr th{
    /* font-size: 1em;
    text-align: center;
    border-collapse: collapse; */
    /* border: 1px solid black; */
    background-color: #bdc2de;
    }
table tr td a{
    color: blue;
}
table tr td a:hover{
    color: red;
    text-decoration: underline;
}